alembic
annotated-types
anyio
argon2-cffi
argon2-cffi-bindings
arrow
astroid
asttokens
async-lru
attrs
autopep8
babel
beautifulsoup4
bleach
cattrs
certifi
certipy
cffi
charset-normalizer
click
comm
cryptography
debugpy
decorator
defusedxml
dill
docstring-to-markdown
executing
fastapi
fastjsonschema
flake8
fqdn
greenlet
h11
httpcore
httpx
idna
importlib_metadata
ipykernel
ipython
ipython_pygments_lexers
isoduration
isort
jedi
jedi-language-server
Jinja2
json5
jsonpointer
jsonrpcclient
jsonrpcserver
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterhub
jupyterlab
jupyterlab-lsp
jupyterlab_pygments
jupyterlab_server
lsprotocol
Mako
MarkupSafe
matplotlib-inline
mccabe
mistune
multilspy
mypy
mypy_extensions
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
oauthlib
OSlash
overrides
packaging
pamela
pandocfilters
parso
pathspec
pexpect
platformdirs
pluggy
prometheus_client
prompt_toolkit
psutil
ptyprocess
pure_eval
pycodestyle
pycparser
pydantic
pydantic_core
pydocstyle
pyflakes
pygls
Pygments
pylint
pylsp-mypy
pylspclient
python-dateutil
python-dotenv
python-json-logger
python-jsonrpc-server
python-lsp-jsonrpc
python-lsp-ruff
python-lsp-server

rpds-py
ruff
Send2Trash

python-multipart
vulture
bandit

