fastapi
uvicorn
vulture>=2.9,<3
bandit
pydantic
python-multipart
requests
python-dotenv
pylint
dslinter
-e git+https://github.com/KarthikShivasankar/ml_smells_detector.git@main#egg=ml_code_smell_detector
